# use : mamba create -y -n root_bridges -c conda-forge -c openalea3 --strict-channel-priority --file requirements.txt

python
# OpenAlea dependancies
# openalea.plantgl dependancy of openalea.mtg
openalea.mtg
openalea.deploy

# packaged dependancies
xarray
netcdf4
dask
#charset-normalizer
bottleneck
pandas
numpy
scipy
matplotlib
#scikit-learn
#umap-learn
#hdbscan
imageio
imageio-ffmpeg
pyvista
openpyxl
#cudatoolkit
#tensorflow
statsmodels
guhdi
SALib
trimesh
