# use : mamba create -y -n root_bridges -c conda-forge -c openalea3 --strict-channel-priority --file requirements.txt
# then clone https://github.com/openalea-incubator/caribu.git
# cd to folder and run "scons" to build it
# then run python -m setup.py install
# finally proceed to other installations
python
# OpenAlea dependancies
# openalea.plantgl dependancy of openalea.mtg
openalea.mtg
openalea.deploy
openalea.lpy
# alinea.caribu
alinea.astk
openalea.sconsx 
m2w64-toolchain

# packaged dependancies
xarray
netcdf4
dask
#charset-normalizer
bottleneck
pandas
numpy
scipy
matplotlib
#scikit-learn
#umap-learn
#hdbscan
imageio
imageio-ffmpeg
pyvista
openpyxl
#cudatoolkit
#tensorflow
statsmodels
